<div class="row text-center" style="margin-top: 50px;">
	<div class="col-sm-8 project_section_container_left">                               
		<div class="project_section_image_container project_section_image_container_upper">
						<%=link_to asset_path('projects/p1_cover.jpg'), class: 'zoom', title: '描述0' do %>
	                    <div class="project_section_image" style="background-image: url(<%=asset_path 'projects/p1_cover.jpg'%>);">
						<span class="overlay">
							<div class="project_section_category_s">台積電</div>
							<div class="project_section_category_l">TSMC</div>
						</span>		
						</div>   
						<%end%>
						<%=link_to '', asset_path('projects/p1_1.jpg'), style: 'display: none;', title: '描述1' %>
						<%=link_to '', asset_path('projects/p1_2.jpg'), style: 'display: none;', title: '描述2' %>
						<%=link_to '', asset_path('projects/p1_3.jpg'), style: 'display: none;', title: '描述3' %>
						<%=link_to '', asset_path('projects/p1_4.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p1_5.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p1_6.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p1_7.jpg'), style: 'display: none;', title: '描述4' %>														
		</div>   					                 		
	</div>
    <div class="col-sm-4 project_section_container_right">          	
       <div class="project_section_image_container project_section_image_container_upper">
			<%=link_to asset_path('projects/p2_cover.jpg'), class: 'zoom' do %>
	        	<div class="project_section_image" style="background-image: url(<%=asset_path 'projects/p2_cover.jpg'%>);">
					<span class="overlay">
						<div class="project_section_category_s">華映</div>
						<div class="project_section_category_l">CPT</div>
					</span>		
				</div>   
			<%end%>
			<%=link_to '', asset_path('projects/p2_1.jpg'), style: 'display: none;', title: '描述1' %>
			<%=link_to '', asset_path('projects/p2_2.jpg'), style: 'display: none;', title: '描述2' %>
			<%=link_to '', asset_path('projects/p2_3.jpg'), style: 'display: none;', title: '描述3' %>
			<%=link_to '', asset_path('projects/p2_4.jpg'), style: 'display: none;', title: '描述4' %>
			<%=link_to '', asset_path('projects/p2_5.jpg'), style: 'display: none;', title: '描述4' %>
			<%=link_to '', asset_path('projects/p2_6.jpg'), style: 'display: none;', title: '描述4' %>
			<%=link_to '', asset_path('projects/p2_7.jpg'), style: 'display: none;', title: '描述4' %>					
		</div>                   						                		
	</div>                               
</div>	
<div class="row text-center">
    	        <div class="col-sm-4 project_section_container_left">  	        	
                    <div class="project_section_image_container project_section_image_container_lower">
						<%=link_to asset_path('projects/p3_cover.jpg'), class: 'zoom' do %>
	                    <div class="project_section_image" style="background-image: url(<%=asset_path 'projects/p3_cover.jpg'%>);">
						<span class="overlay">
							<div class="project_section_category_s">華亞</div>
							<div class="project_section_category_l">inotera</div>
						</span>		
						</div>   
						<%end%>
						<%=link_to '', asset_path('projects/p2_1.jpg'), style: 'display: none;', title: '描述1' %>
						<%=link_to '', asset_path('projects/p2_2.jpg'), style: 'display: none;', title: '描述2' %>
						<%=link_to '', asset_path('projects/p2_3.jpg'), style: 'display: none;', title: '描述3' %>
						<%=link_to '', asset_path('projects/p2_4.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p2_5.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p2_6.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p2_7.jpg'), style: 'display: none;', title: '描述4' %>							
					</div>      	        					                		
                </div>  
    	        <div class="col-sm-4 project_section_container_middle">
                    <div class="project_section_image_container project_section_image_container_lower">
						<%=link_to asset_path('projects/p4_cover.jpg'), class: 'zoom' do %>
	                    <div class="project_section_image" style="background-image: url(<%=asset_path 'projects/p4_cover.jpg'%>);">
						<span class="overlay">
							<div class="project_section_category_s">友達</div>
							<div class="project_section_category_l">AUO</div>
						</span>		
						</div>   
						<%end%>
						<%=link_to '', asset_path('projects/p4_1.jpg'), style: 'display: none;', title: '描述1' %>
						<%=link_to '', asset_path('projects/p4_2.jpg'), style: 'display: none;', title: '描述2' %>
						<%=link_to '', asset_path('projects/p4_3.jpg'), style: 'display: none;', title: '描述3' %>
						<%=link_to '', asset_path('projects/p4_4.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p4_5.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p4_6.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p4_7.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p4_8.jpg'), style: 'display: none;', title: '描述4' %>					
					</div>   				                		
                </div>  				
    	        <div class="col-sm-4 project_section_container_right">
                    <div class="project_section_image_container project_section_image_container_lower">
						<%=link_to asset_path('projects/p5_cover.jpg'), class: 'zoom' do %>
	                    <div class="project_section_image" style="background-image: url(<%=asset_path 'projects/p5_cover.jpg'%>);">
						<span class="overlay">
							<div class="project_section_category_s">聯電</div>
							<div class="project_section_category_l">UMC</div>
						</span>		
						</div>   
						<%end%>
						<%=link_to '', asset_path('projects/p5_1.jpg'), style: 'display: none;', title: '描述1' %>
						<%=link_to '', asset_path('projects/p5_2.jpg'), style: 'display: none;', title: '描述2' %>
						<%=link_to '', asset_path('projects/p5_3.jpg'), style: 'display: none;', title: '描述3' %>
						<%=link_to '', asset_path('projects/p5_4.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p5_5.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p5_6.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p5_7.jpg'), style: 'display: none;', title: '描述4' %>
						<%=link_to '', asset_path('projects/p5_8.jpg'), style: 'display: none;', title: '描述4' %>						
					</div>  				                		
                </div>                 		
</div>
<script>
$('.project_section_image_container').each(function() { // the containers for all your galleries
    $(this).magnificPopup({
        delegate: 'a', // the selector for gallery item
        type: 'image',
        gallery: {
          enabled: true
        },
		mainClass: 'mfp-with-zoom', // this class is for CSS animation below
	    /*zoom: {
	    	enabled: true, // By default it's false, so don't forget to enable it
	
	    	duration: 300, // duration of the effect, in milliseconds
	    	easing: 'ease-in-out', // CSS transition easing function 
	
	    // The "opener" function should return the element from which popup will be zoomed in
	    // and to which popup will be scaled down
	    // By defailt it looks for an image tag:
	    	opener: function(openerElement) {
	      // openerElement is the element on which popup was initialized, in this case its <a> tag
	      // you don't need to add "opener" option if this code matches your needs, it's defailt one.
	      	return openerElement.is('img') ? openerElement : openerElement.find('img');
	    	}
	  	}   */         
    });
});
</script>   	
