<div id="section_top"></div>
<header class="index_top_container" data-parallax="scroll" data-image-src="<%= image_url 'index_top_bg.jpg' %>">
	<div class="container text-center">
		<div class="row">
	        <div class="col-md-12">
	            <div class="top_HY_container">
	            	<div class="top_HY_container_en">HONG-YOU</div>
	            	<div class="top_HY_container_ch">鴻祐科技</div>       
	            </div>
	    	</div>
    	</div>
    	<div class="row">
	        <div class="col-md-12">
	            <div class="top_1998_container">
	            	<h2 class="no-background"><span class="text">since <span class="since_year" data-year="1988" style="display: inline-block; min-width: 60px;"></span></span></h2>
	            </div>
	    	</div>   	  	
    	</div>	
    	<div class="row" style="margin-top: 40px;">
	        <div class="col-md-12">
				<div class="top_arrow_container">
					<a href="#index_about_section"><%= image_tag 'arrow_down.png', class: 'arrow_down' %></a>
				</div>	
	    	</div>   	  	
    	</div>					    	
    </div>
</header>
<div id="section_about"></div>
<section class="index_about_section" id="index_about_section">
	<div class="container">
		<div class="row">	
			<div class="col-md-12">
				<div class="title_container text-left">
					<div class="title_en" style="width: 140px; color: #3150a4;">About Hong-You</div>
					<div class="title_ch">|關於鴻祐</div>
				</div>				
			</div>
		</div>
		<div class="row">	
			<div class="col-sm-6 vcenter">
				<div style="margin-top: 35px;">
					<!--<%= image_tag 'H.png', class: 'H_logo hidden-sm hidden-xs hidden-md' %>-->
					<div class="index_about_content">
					鴻祐科技前身為保儀工程有限公司成立於1988年5月，投入水處理與環保工作已逾30年的經驗。之前曾服務於晃誼公司，專門負責純水、廢水、化學系統 定位與安裝、DI-LOOP配管、PP/PVDF/FRP桶槽製作、以及DI CHEMICAL EXHAUST PCW DRAIN HOOK-UP等工程....之後與ORGANO、 TSC(前身為TOPCO)、KURITA、漢華水處理、台灣極水、彰化鍊水、兆聯實業等知名水處理工程公司合作。先後參與並完成台灣各大廠區如:TSMC、NANYA、INOTERA、MOSEL、PROMOS、UMC、CPT、VIS、AUO、新日光、景碩、華映、欣興、穩懋、景碩等...公司各式水處理設備的施工及維修，對於個高科技廠房相關規定及流程皆有一定程度的了解。
					</div>
				</div>			
			</div><!--
    	 --><div class="col-sm-6 vcenter hidden-xs">
				<div style="margin-top: 35px;">
					<!--<%= image_tag 'H.png', class: 'H_logo hidden-sm hidden-xs hidden-md' %>-->
					<div class="index_about_image" style="background-image: url(<%=asset_path 'about/1.jpg'%>);">
					</div>
				</div>			
			</div>			
			<!--
			<div class="col-md-1">
				<div style="margin-top: 35px;">
					<%= image_tag 'I.png', class: 'I_logo hidden-sm hidden-xs hidden-md' %>
					<%= image_tag 'Y.png', class: 'Y_logo hidden-sm hidden-xs hidden-md' %>
				</div>			
			</div>		-->	
		</div>		
		<div class="row">	
			<div class="col-sm-6 vcenter hidden-xs">
				<div style="margin-top: 35px;">
					<div class="index_about_image" style="background-image: url(<%=asset_path 'about/2.jpg'%>);">
					</div>
				</div>			
			</div><!--
		 --><div class="col-sm-6 vcenter">
				<div style="margin-top: 35px;">
					<!--<%= image_tag 'H.png', class: 'H_logo hidden-sm hidden-xs hidden-md' %>-->
					<div class="index_about_content">
					公司成立至今業蹟蒸蒸日上，並與各處水處理公司、半導體公司建立良好合作關係，可以完成特殊管路:PFA.PVDF.PP.CPVC.PVC等.....設計/套圖/繪圖/施工，施工品質可達到各廠區業主之需求標準。長期下來不斷更新與增加設備，提升專業技術及員工加強訓練，使我們公司在工程界上建立良好的口碑。
					</div>
				</div>			
			</div>			
		</div>			
	</div>
</section>
<section class="index_organization_section" data-parallax="scroll" data-image-src="<%= image_url 'organization_bg.jpg' %>">
	<div class="container">
		<div class="row">	
			<div class="col-md-12">
				<div class="title_container text-center">
					<div class="title_en" style="width: 180px;">Organization</div>
					<div class="title_ch">|組織架構</div>
				</div>				
			</div>
		</div>
		<div class="row" style="margin-top: 50px;">	
			<div class="col-md-12">
				<div class="organization_manager_container text-center">
					<div class="organization_manager_ch">總經理</div>
					<div class="organization_manager_en">General manager</div>
				</div>				
			</div>
		</div>	
		<div class="row organization_line_container hidden-xs" style="min-height: 50px;">	
			<div class="col-md-offset-1 col-md-10">			
				<div class="vertical_ball_line"></div>			
			</div>		
		</div>				
		<div class="row organization_line_container hidden-xs">	
			<div class="col-sm-offset-1 col-sm-5">			
				<div class="horizontal_ball_line_1"></div>			
			</div>
			<div class="col-sm-5">			
				<div class="horizontal_ball_line_2"></div>			
			</div>			
		</div>			
		<div class="row text-center">
            <div class="col-sm-offset-1 col-sm-2" style="min-height: 200px;">
               <div class="ball_line"></div>
               <div class="organization_balls">工程部</div>
            </div>             
            <div class="col-sm-2" style="min-height: 200px;">
            	<div class="ball_line"></div>
               <div class="organization_balls">工一部</div>
            </div>                   
            <div class="col-sm-2" style="min-height: 200px;">
               <div class="ball_line"></div>
               <div class="organization_balls">工二部</div>
            </div>  
            <div class="col-sm-2" style="min-height: 200px;">
               <div class="ball_line"></div>
               <div class="organization_balls">工三部</div>
            </div>                                                                            	
            <div class="col-sm-2" style="min-height: 200px;">
               <div class="ball_line"></div>
               <div class="organization_balls">會計部</div>
            </div>
    	</div>				
	</div>		
</section>
<div id="section_projects"></div>
<section class="index_project_section" id="index_project_section">
	<div class="container">
		<div class="row">	
			<div class="col-sm-12">
				<div class="title_container text-left">
					<div class="title_en" style="width: 120px; color: #3150a4;">Projects</div>
					<div class="title_ch">|工程實績</div>
				</div>				
			</div>
		</div>
		<%=render 'projects' %>	    	
	</div>
</section>
<div id="section_business"></div>
<section class="index_business_section" id="index_business_section" data-parallax="scroll" data-image-src="<%= image_url 'business_bg.jpg' %>">
	<div class="container">
		<div class="row">	
			<div class="col-md-12">
				<div class="title_container text-left">				
					<div class="title_en" style="width: 130px;">Business</div>
					<div class="title_ch">|營業項目</div>
				</div>				
			</div>
		</div>
		<div class="row" style="margin-top: 50px;">	
			<div class="col-sm-6">
				<div class="business_item business_item_1">純水/廢水/化學系統/定位/安裝</div>
				<div class="business_item business_item_2">PFA.PVDF.PP.CPVC.PVC製程管路配管</div>
				<div class="business_item business_item_3">Chemical.Dl.Exhaust.PCW.Drain Hook up</div>
				<div class="business_item business_item_4">半導體化學濕蝕刻設備</div>
				<div class="business_item business_item_5">半導體濕式清洗設備</div>
				<div class="business_item business_item_6">半導體工廠附屬設備及週邊工程</div>
				<div class="business_item business_item_7">廢氣處理系統設計/施工</div>
				<div class="business_item business_item_8">PP/PPS/PVC/FRP工業排風工程</div>
				<div class="business_item business_item_9">電子廠廢酸/廢溶劑回收設備</div>
			</div>			
			<div class="col-sm-6 hidden-xs">
			<%=image_tag 'business_pic.png', class: 'business_pic'%>		
			<div class="parent-container">
			<a href="<%= asset_url 'bussiness/c_1.jpg'%>">
			<div class="index_business_img_pop_div index_business_img_pop_div_1"></div>				
			</a>
			<a href="<%= asset_path 'bussiness/c_2.jpg'%>">
			<div class="index_business_img_pop_div index_business_img_pop_div_2"></div>		
			</a>
			<a href="<%= asset_path 'bussiness/c_3.jpg'%>">
			<div class="index_business_img_pop_div index_business_img_pop_div_3"></div>		
			</a>
			<a href="<%= asset_path 'bussiness/c_4.jpg'%>">
			<div class="index_business_img_pop_div index_business_img_pop_div_4"></div>		
			</a>
			<a href="<%= asset_path 'bussiness/c_5.jpg'%>">
			<div class="index_business_img_pop_div index_business_img_pop_div_5"></div>		
			</a>
			<a href="<%= asset_path 'bussiness/c_6.jpg'%>">
			<div class="index_business_img_pop_div index_business_img_pop_div_6"></div>		
			</a>																		
			</div>




		
			</div>
		</div>		
	</div>
</section>
<div id="section_jobs"></div>
<section class="index_jobs_section" id="index_jobs_section">
	<div class="container">
		<div class="row">	
			<div class="col-sm-12">
				<div class="title_container text-center">
					<div class="title_en" style="width: 70px; color: #3150a4;">Jobs</div>
					<div class="title_ch">|工作機會</div>
				</div>				
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="row">	
			<div class="col-sm-12">
				<div style="margin-top: 35px;">




<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <%Job.all.each_with_index do |j, index |%>    
       	<%if index != 0 %>	
       	<li data-target="#myCarousel" data-slide-to="<%=index%>"></li>
      	<%else%>
      	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<%end%>
      <%end%>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
	  <%Job.all.each_with_index do |j, index |%> 
      <div class="item <%if index == 0 %>active<%end%>">
      	<div class="carousel-content">
	      	<div class="jobs_main_title"><%=j.title %></div>
	      	<div class="jobs_title_container"><span class="jobs_title_ch">職務內容</span><span class="jobs_title_en">content</span></div>	
	      	<div class="jobs_content"><%=j.content %></div>
	      	<!--<div class="jobs_title_container"><span class="jobs_title_ch">工作地點</span><span class="jobs_title_en">location</span></div>		      	
	      	<div class="jobs_content"><%=j.location %></div>
	      	<div class="jobs_title_container"><span class="jobs_title_ch">工作性質</span><span class="jobs_title_en">kind</span></div>		      	
	      	<div class="jobs_content"><%if j.part_time_c%>兼職<%else%>正職<%end%></div>
	      	<div class="jobs_title_container"><span class="jobs_title_ch">需求人數</span><span class="jobs_title_en">quantity</span></div>		      	
	      	<div class="jobs_content"><%=j.quantity %></div>-->
			<div class="jobs_title_container"><span class="jobs_title_ch">描述</span><span class="jobs_title_en">description</span></div>		      	
	      	<div class="jobs_content">		
				<table class="table">
				    <thead>
				      <tr>
				        <th class="text-center">地點</th>
				        <th class="text-center">性質</th>
				        <th class="text-center">需求人數</th>
				      </tr>
				    </thead>
				    <tbody class="text-center">
				      <tr>
				        <td><%=j.location %></td>
				        <td><%if j.part_time_c%>兼職<%else%>正職<%end%></td>
				        <td><%=j.quantity %></td>
				      </tr>
				    </tbody>
				  </table>				
	      	</div>	      	
	      	<div class="jobs_title_container"><span class="jobs_title_ch">具備要求</span><span class="jobs_title_en">requirement</span></div>		      	
	      	<div class="jobs_content">		
				<table class="table">
				    <thead>
				      <tr>
				        <th class="text-center">工作經歷</th>
				        <th class="text-center">學歷</th>
				        <th class="text-center">科系</th>
				      </tr>
				    </thead>
				    <tbody class="text-center">
				      <tr>
				        <td><%=j.experience %></td>
				        <td><%=j.education %></td>
				        <td><%=j.major %></td>
				      </tr>
				    </tbody>
				  </table>				
	      	</div>	 
	      	<div class="jobs_title_container"><span class="jobs_title_ch">備註</span><span class="jobs_title_en">notes</span></div>			      	     	
        	<div class="jobs_content"><%if j.note.blank?%>--<%else%><%=j.note%><%end%></div>
        	<div class="jobs_content" style="border-bottom: 1px solid rgba(45, 72, 139, 0.8); ">
        		<a href="tel:03-6662578" class="btn">
					聯絡人資
				</a>
			</div>
        </div>      	
      </div>
	  <%end%>

  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>







				</div>			
			</div>
			<!--
			<div class="col-md-1">
				<div style="margin-top: 35px;">
					<%= image_tag 'I.png', class: 'I_logo hidden-sm hidden-xs hidden-md' %>
					<%= image_tag 'Y.png', class: 'Y_logo hidden-sm hidden-xs hidden-md' %>
				</div>			
			</div>		-->	
		</div>		
	</div>
</section>
<div id="section_contact"></div>
<section class="index_contact_section" id="index_contact_section" data-parallax="scroll" data-image-src="<%= image_url 'contact_bg.jpg' %>">
	<div class="container">
		<div class="row">	
			<div class="col-md-12" style="padding: 0px;">
				<div class="title_container text-left">				
					<div class="title_en" style="width: 150px;">Contact us</div>
					<div class="title_ch">|聯絡我們</div>
				</div>				
			</div>
		</div>
		<div class="row" style="margin-top: 40px; margin-bottom: 10px;">	
			<div class="col-md-6" style="padding: 0px;">
				<div class="contact_branch_title">桃園公司</div>
				<div class="contact_branch_address">桃園市蘆竹區山林路三段432-1號</div>				
			</div>	
		</div>		
		<div class="row" style="">				
			<div class="col-md-6" style="padding: 0px;">
				<div class="left_vertical_map_line"></div>
				<div class="top_horizontal_map_line"></div>			
				<div class="right_vertical_map_line"></div>
				<div class="bottom_horizontal_map_line"></div>
				<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
				<div class='gmap_canvas_container' style='overflow:hidden; height:300px;width:100%; visibility: hidden;'><div id='gmap_canvas_1' style='height:300px; width:100%;'></div>
				<style>#gmap_canvas_1 img{max-width:none!important;background:none!important}</style></div> 		
			</div>		
			<div class="col-md-6 text-center">
				<div class="contact_branch_image_container_outter">
					<div class="contact_branch_image_container text-center">
			 			<div class="ih-item circle effect1">
					    	<a href="tel:03-3245322">
					        <div class="spinner"></div>
					        <div class="img"><%=image_tag 'phone.svg'%></div>
					        <div class="info">
					          <div class="info-back">
					            <h3>call</h3>
					          </div>
					        </div>
					        </a>
					    </div>	
						<div class="sub_content">03-3245322</div>			
					</div>	  
					<div class="contact_branch_image_container text-center">
			 			<div class="ih-item circle effect1">
					    	<a href="mailto:baobaoyi@ms74.hinet.net8">
					        <div class="spinner"></div>
					        <div class="img"><%=image_tag 'mail.svg'%></div>
					        <div class="info">
					          <div class="info-back">
					            <h3>mail</h3>
					          </div>
					        </div>
					        </a>
					    </div>	
						<div class="sub_content" style="width: 160px;">baobaoyi@ms74.hinet.net8</div>			
					</div>		    		    
				</div>					
			</div>							
		</div>		
		<div class="row" style="margin-top: 40px; margin-bottom: 10px;">	
			<div class="col-md-6" style="padding: 0px;">
			<div class="contact_branch_title">新竹公司</div>
				<div class="contact_branch_address">新竹市高翠路73巷1號</div>			
			</div>	
		</div>			
		<div class="row" style="">	
			<div class="col-md-6" style="padding: 0px;">
				<div class="left_vertical_map_line"></div>
				<div class="top_horizontal_map_line"></div>			
				<div class="right_vertical_map_line"></div>
				<div class="bottom_horizontal_map_line"></div>
				<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
				<div class='gmap_canvas_container' style='overflow:hidden; height:300px;width:100%; visibility: hidden;'><div id='gmap_canvas_2' style='height:300px; width:100%;'></div>
				<style>#gmap_canvas_2 img{max-width:none!important;background:none!important}</style></div> 
			</div>	
			<div class="col-md-6 text-center">
				<div class="contact_branch_image_container_outter">
					<div class="contact_branch_image_container text-center">
			 			<div class="ih-item circle effect1">
					    	<a href="tel:03-6662578">
					        <div class="spinner"></div>
					        <div class="img"><%=image_tag 'phone.svg'%></div>
					        <div class="info">
					          <div class="info-back">
					            <h3>call</h3>
					          </div>
					        </div>
					        </a>
					    </div>	
						<div class="sub_content">03-6662578</div>			
					</div>	  
					<div class="contact_branch_image_container text-center">
			 			<div class="ih-item circle effect1">
					    	<a href="mailto:baobaoyi@ms74.hinet.net8">
					        <div class="spinner"></div>
					        <div class="img"><%=image_tag 'mail.svg'%></div>
					        <div class="info">
					          <div class="info-back">
					            <h3>mail</h3>
					          </div>
					        </div>
					        </a>
					    </div>	
						<div class="sub_content" style="width: 160px;">baobaoyi@ms74.hinet.net8</div>			
					</div>		    		    
				</div>					
			</div>							
		</div>			
	</div>	
</section>
<%=render "script" %>