<header class="index_top_container" data-parallax="scroll" data-image-src="<%= image_url 'index_top_bg.jpg' %>">
	<div class="container text-center">
		<div class="row">
	        <div class="col-md-12">
	            <div class="top_HY_container">
	            	<div class="top_HY_container_en">HUNG-YOU</div>
	            	<div class="top_HY_container_ch">鴻佑科技</div>       
	            </div>
	    	</div>
    	</div>
    	<div class="row">
	        <div class="col-md-12">
	            <div class="top_1998_container">
	            	<h2 class="no-background"><span>since 1988</span></h2>
	            </div>
	    	</div>   	  	
    	</div>	
    	<div class="row" style="margin-top: 40px;">
	        <div class="col-md-12">
				<div class="top_arrow_container">
					<a href="#index_about_section"><%= image_tag 'arrow_down.png', class: 'arrow_down' %></a>
				</div>	
	    	</div>   	  	
    	</div>					    	
    </div>
</header>
<div id="section_about"></div>
<section class="index_about_section" id="index_about_section">
	<div class="container">
		<div class="row">	
			<div class="col-md-offset-1 col-md-10">
				<div class="title_container text-left">
					<div class="title_en" style="width: 140px; color: #3150a4;">About Hong-You</div>
					<div class="title_ch">|關於鴻祐</div>
				</div>				
			</div>
		</div>
		<div class="row">	
			<div class="col-md-offset-1 col-md-10">
				<div style="margin-top: 35px;">
					<!--<%= image_tag 'H.png', class: 'H_logo hidden-sm hidden-xs hidden-md' %>-->
					<div class="index_about_content">
					鴻祐科技前身為保儀工程有限公司成立於1988年5月，投入水處理與環保工作已逾30年的經驗。之前，曾服務於晃誼公司，專門負責純水、廢水、化學系統 定位、安裝，DI-LOOP配管，以及DI CHEMICAL EXHAUST PCW DRAIN HOOK-UP等工程....之後與ORGANO、 TOPCO、CHRIST 、台灣極水、彰化鍊水、兆聯實業等知名水處理工程公司合作。先後參與並完成台灣各大廠區如:TSMC、NANYA、INOTERA、MOSEL、PROMOS、UMC、CPT、VIS、新日光、景碩、華映等...公司各式水處理設備的施工及維修，對於個高科技廠房相關規定及流程皆有一定程度的了解。公司成立至今業蹟蒸蒸日上，並與各處水處理公司、半導體公司建立良好合作關係，可以完成特殊管路:PFA.PVDF .PP.CPVC.PVC等.....設計/套圖/繪圖/施工，施工品質可達到各廠區業主之需求標準。長期下來不斷更新增加設備，提升專業技術及員工加強訓練，使我們公司在工程界上建立良好的口碑。	
					</div>
				</div>			
			</div>
			<!--
			<div class="col-md-1">
				<div style="margin-top: 35px;">
					<%= image_tag 'I.png', class: 'I_logo hidden-sm hidden-xs hidden-md' %>
					<%= image_tag 'Y.png', class: 'Y_logo hidden-sm hidden-xs hidden-md' %>
				</div>			
			</div>		-->	
		</div>		
	</div>
</section>
<section class="index_organization_section" data-parallax="scroll" data-image-src="<%= image_url 'organization_bg.jpg' %>">
	<div class="container">
		<div class="row">	
			<div class="col-md-12">
				<div class="title_container text-right">
					<div class="title_en text-left" style="width: 180px;">Organization</div>
					<div class="title_ch">|組織架構</div>
				</div>				
			</div>
		</div>
		<div class="row" style="margin-top: 50px;">	
			<div class="col-md-12">
				<div class="organization_manager_container text-center">
					<div class="organization_manager_ch">總經理</div>
					<div class="organization_manager_en">General manager</div>
				</div>				
			</div>
		</div>	
		<div class="row organization_line_container hidden-xs" style="min-height: 50px;">	
			<div class="col-md-offset-1 col-md-10">			
				<div class="vertical_ball_line"></div>			
			</div>		
		</div>				
		<div class="row organization_line_container hidden-xs">	
			<div class="col-sm-offset-1 col-sm-5">			
				<div class="horizontal_ball_line_1"></div>			
			</div>
			<div class="col-sm-5">			
				<div class="horizontal_ball_line_2"></div>			
			</div>			
		</div>			
		<div class="row text-center">
            <div class="col-sm-offset-1 col-sm-2" style="min-height: 200px;">
               <div class="ball_line"></div>
               <div class="organization_balls">工程部</div>
            </div>             
            <div class="col-sm-2" style="min-height: 200px;">
            	<div class="ball_line"></div>
               <div class="organization_balls">工一部</div>
            </div>                   
            <div class="col-sm-2" style="min-height: 200px;">
               <div class="ball_line"></div>
               <div class="organization_balls">工二部</div>
            </div>  
            <div class="col-sm-2" style="min-height: 200px;">
               <div class="ball_line"></div>
               <div class="organization_balls">工三部</div>
            </div>                                                                            	
            <div class="col-sm-2" style="min-height: 200px;">
               <div class="ball_line"></div>
               <div class="organization_balls">會計部</div>
            </div>
    	</div>				
	</div>		
</section>
<div id="section_projects"></div>
<section class="index_project_section" id="index_project_section">
	<div class="container">
		<div class="row">	
			<div class="col-sm-12">
				<div class="title_container text-left">
					<div class="title_en" style="width: 120px; color: #3150a4;">Projects</div>
					<div class="title_ch">|工程實績</div>
				</div>				
			</div>
		</div>
		<div class="row text-center" style="margin-top: 50px;">
                <div class="col-sm-8 project_section_container_left">
                    <div class="project_section_image_top" style="background-image: url(<%=asset_path 'projects/p1.jpg'%>);">
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">TSMC</div>
						<div class="index_fruits_category_l">台積電</div>
					</div>
					</div>                    		
                </div>
                <div class="col-sm-4 project_section_container_right">
                    <div class="project_section_image_top" style="background-image: url(<%=asset_path 'projects/p2.jpg'%>); ">                    
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">CPT</div>
						<div class="index_fruits_category_l">華映</div>
					</div>
					</div>					                		
                </div>                               
    	</div>	
		<div class="row text-center">
    	        <div class="col-sm-4 project_section_container_left">
                	<div class="project_section_image_bottom" style="background-image: url(<%=asset_path 'projects/p3.jpg'%>); ">                    
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">inotera</div>
						<div class="index_fruits_category_l">華亞</div>
					</div>
					</div>					                		
                </div>  
    	        <div class="col-sm-4 project_section_container_middle">
                	<div class="project_section_image_bottom" style="background-image: url(<%=asset_path 'projects/p4.jpg'%>); ">                    
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">facebook</div>
						<div class="index_fruits_category_l">臉書</div>
					</div>
					</div>					                		
                </div>  				
    	        <div class="col-sm-4 project_section_container_right">
                	<div class="project_section_image_bottom" style="background-image: url(<%=asset_path 'projects/p5.jpg'%>); ">                    
					<div class="index_fruits_category">
						<div class="index_fruits_category_s">Google</div>
						<div class="index_fruits_category_l">谷歌</div>
					</div>
					</div>					                		
                </div>                 		
    	</div>	    	
	</div>
</section>
<div id="section_business"></div>
<section class="index_business_section" id="index_business_section" data-parallax="scroll" data-image-src="<%= image_url 'business_bg.jpg' %>">
	<div class="container">
		<div class="row">	
			<div class="col-md-12">
				<div class="title_container text-left">				
					<div class="title_en" style="width: 130px;">Business</div>
					<div class="title_ch">|營業項目</div>
				</div>				
			</div>
		</div>
		<div class="row" style="margin-top: 50px;">	
			<div class="col-sm-6">
				<div class="business_item">純水/廢水/化學系統/定位/安裝</div>
				<div class="business_item">PFA.PVDF.PP.CPVC.PVC製程管路配管</div>
				<div class="business_item">Chemical.Dl.Exhaust.PCW.Drain機台Hook up</div>
				<div class="business_item">半導體化學濕蝕刻設備</div>
				<div class="business_item">半導體濕式清洗設備</div>
				<div class="business_item">半導體工廠附屬設備及週邊工程</div>
				<div class="business_item">廢氣處理系統設計/施工</div>
				<div class="business_item">PP/PPS/PVC/FRP工業排風工程</div>
				<div class="business_item">電子廠廢酸/廢溶劑回收設備</div>
			</div>
			
			
			<div class="col-sm-6 hidden-xs">
			<%=image_tag 'business_pic.png', class: 'business_pic'%>		
			<div class="parent-container">
			<a href="<%= asset_url 'business/c_1.jpg'%>">
			<div style="top: 250px; right: 510px;" class="index_business_img_pop_div"></div>		
			</a>
			<a href="<%= asset_url '/business/c_2.jpg'%>">
			<div style="top: 250px; right: 290px;" class="index_business_img_pop_div"></div>		
			</a>
			<a href="<%= asset_url '/business/c_3.jpg'%>">
			<div style="top: 250px; right: 70px;" class="index_business_img_pop_div"></div>		
			</a>
			<a href="<%= asset_url '/business/c_4.jpg'%>">
			<div style="top: 470px; right: 510px;" class="index_business_img_pop_div"></div>		
			</a>
			<a href="<%= asset_url '/business/c_5.jpg'%>">
			<div style="top: 470px; right: 290px;" class="index_business_img_pop_div"></div>		
			</a>
			<a href="<%= asset_url '/business/c_6.jpg'%>">
			<div style="top: 470px; right: 70px;" class="index_business_img_pop_div"></div>		
			</a>																		
			</div>




		
			</div>
		</div>		
	</div>
</section>
<div id="section_jobs"></div>
<section class="index_about_section" id="index_about_section">
	<div class="container">
		<div class="row">	
			<div class="col-md-offset-1 col-md-10">
				<div class="title_container text-left">
					<div class="title_en" style="width: 70px; color: #3150a4;">Jobs</div>
					<div class="title_ch">|工作機會</div>
				</div>				
			</div>
		</div>
		<div class="row">	
			<div class="col-md-offset-1 col-md-10">
				<div style="margin-top: 35px;">
					<!--<%= image_tag 'H.png', class: 'H_logo hidden-sm hidden-xs hidden-md' %>-->
					<div class="index_about_content">
					鴻祐科技前身為保儀工程有限公司成立於1988年5月，投入水處理與環保工作已逾30年的經驗。之前，曾服務於晃誼公司，專門負責純水、廢水、化學系統 定位、安裝，DI-LOOP配管，以及DI CHEMICAL EXHAUST PCW DRAIN HOOK-UP等工程....之後與ORGANO、 TOPCO、CHRIST 、台灣極水、彰化鍊水、兆聯實業等知名水處理工程公司合作。先後參與並完成台灣各大廠區如:TSMC、NANYA、INOTERA、MOSEL、PROMOS、UMC、CPT、VIS、新日光、景碩、華映等...公司各式水處理設備的施工及維修，對於個高科技廠房相關規定及流程皆有一定程度的了解。公司成立至今業蹟蒸蒸日上，並與各處水處理公司、半導體公司建立良好合作關係，可以完成特殊管路:PFA.PVDF .PP.CPVC.PVC等.....設計/套圖/繪圖/施工，施工品質可達到各廠區業主之需求標準。長期下來不斷更新增加設備，提升專業技術及員工加強訓練，使我們公司在工程界上建立良好的口碑。	
					</div>
				</div>			
			</div>
			<!--
			<div class="col-md-1">
				<div style="margin-top: 35px;">
					<%= image_tag 'I.png', class: 'I_logo hidden-sm hidden-xs hidden-md' %>
					<%= image_tag 'Y.png', class: 'Y_logo hidden-sm hidden-xs hidden-md' %>
				</div>			
			</div>		-->	
		</div>		
	</div>
</section>
<div id="section_contact"></div>
<section class="index_business_section" id="index_business_section" data-parallax="scroll" data-image-src="<%= image_url 'business_bg.jpg' %>">
	<div class="container">
		<div class="row">	
			<div class="col-md-12">
				<div class="title_container text-right">				
					<div class="title_en text-left" style="width: 150px;">Contact us</div>
					<div class="title_ch">|聯絡我們</div>
				</div>				
			</div>
		</div>
		<div class="row">	
			<div class="col-md-12">
				<div style="margin-top: 35px;">

				</div>			
			</div>
		</div>		
	</div>
</section>
<%=render "script" %>