<!DOCTYPE html>
<html>
<head>
  <title>Hong-You 鴻祐科技</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">	
  <%= favicon_link_tag 'logo_dark.png' %>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".menu" data-offset="10">
<div class="se-pre-con"></div>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
<%=render "layouts/menu" %>
<%= yield %>
<%=render "layouts/footer" %>
<script>
function show_popup(){
	$(".se-pre-con").fadeOut("slow");
	date = new Date();
	$('.since_year').html(date.getFullYear())
	var foo = { bar: date.getFullYear() };		
	tween = new TimelineLite();
	tween.to(".top_HY_container", 1, {autoAlpha: 1, ease: Linear.easeNone})
		 //.to(".top_1998_container", 1, {autoAlpha: 1, ease: Linear.easeNone})
		 //.from(".top_1998_container", 1, {top: "10px", ease: Linear.easeNone})	 
		 //.to(".top_arrow_container", 1, {autoAlpha: 1, ease: Linear.easeNone})
		 .to(foo, 2, { bar: 1988, onUpdate: function() {
			  $('.since_year').html(Math.ceil(foo.bar));}, ease: Linear.easeNone})
					
};
$(window).load(function() {
	// Animate loader off screen
	window.setTimeout( show_popup, 4000 ); // 5 seconds
});	
</script>
</body>
</html>
