<!DOCTYPE html>
<html>
<head>
  <title>Hong-You 鴻祐科技</title>
  <meta name = "viewport" content = "width = 1270, initial-scale = 1"> 
  <%= favicon_link_tag 'small_H.png' %>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render "layouts/menu" %>
<%= yield %>
<%=render "layouts/footer" %>
</body>
</html>
